<!DOCTYPE html>
<html ng-app>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>AngularJS--demo4.html</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
</head>
<body>
	<div class="container">
		<div><input type="checkbox" ng-init="checked=true" ng-model="checked" /></div>
		当checkbox被选中时,显示：
		<span ng-if="checked">如果checkbox没有被选中，我就会消失！</span>
	</div>
	<script type="text/javascript" src="js/angular.js"></script>

</body>
</html>